<!DOCTYPE html>
<html>
    <head>
        <title>Rango</title>
    </head>

    <body>
        <h1>Rango says..hello world!</h1>

        {% if categories %}
			<h2>Most Liked</h2>
            <ul>
                {% for category in categories %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ category.slug }}">{{ category.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}
	   
	   {% if viewed %}
			<h2>Most Viewed</h2>
            <ul>
                {% for view in viewed %}
                <!-- Following line changed to add an HTML hyperlink -->
                <li><a href="/rango/category/{{ view.slug }}">{{ view.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}


    </body>
</html>
