<!DOCTYPE html>

{% extends 'rango/base.html' %}

{% load staticfiles %}

{% block title %}Rango{% endblock %}

{% block body_block %}
	{% if user.is_authenticated %}
		<h1>Rango says... hello {{ user.username }}!</h1>
	{% else %}
		<h1>Rango says... hello world!</h1>
	{% endif %}
	
    {% if categories %}
		<h2>Most Liked</h2>
        <ul>
            {% for category in categories %}
				<li><a href="{% url 'category'  category.slug %}">{{ category.name }}</a></li>
			{% endfor %}
        </ul>
        {% else %}
            <strong>There are no categories present.</strong>
        {% endif %}
	   
	    {% if viewed %}
			<h2>Most Viewed</h2>
            <ul>
                {% for view in viewed %}
                <li><a href="{% url 'category'  view.slug %}">{{ view.name }}</a></li>
                {% endfor %}
            </ul>
       {% else %}
            <strong>There are no categories present.</strong>
       {% endif %}

{% endblock %}
